.logInButtonLoginPage{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(30%);
  width: 20%;
  height: 8%;
  background-color: #000CB2;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  
}  

.registerButtonLoginPage{
  position: relative;
  bottom: -82%;
  transform: translateX(50%);
  width: 50%;
  height: 8%;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  color: #000CB2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fisrtLabeTxtLoginPage{
  position: absolute;
  width: 30%;
  height: 10%;
  left: 50%;
  top: 4%;
  background-color: transparent;
  font-style: normal;
  font-weight: 800;
  font-size: 120%;
  line-height: 100%;
  text-align: center;
}

.secondlabelLoginPage{
  position: absolute;
  width: 30%;
  height: 10%;
  left: 50%;
  top: 12%;
  
  background-color: transparent;
  
  font-style: normal;
  font-weight: 400;
  font-size: 120%;
  line-height: 100%;
  text-align: center;
}

.trhirdLabelLoginPage{
  position: absolute;
  width: 100%;
  height: 0%;
  left: 0%;
  top: 40%;

  color: white;
  background-color: transparent;
 
  font-style: normal;
  font-weight: 800;
  font-size: 150%;
  line-height: 100%;
  text-align: center;
}

.forfthLabelLoginPage{
    position: absolute;
width: 80%;
height: 0%;
left: 10%;
top: 46%;

color: white;
background-color: transparent;

font-style: normal;
font-weight: 500;
font-size: 100%;
line-height: 100%;
text-align: center;
}

.fifthLabelLoginPage{
  position: absolute;
width: 80%;
height: 0%;
left: 10%;
top: 75%;

color: white;
background-color: transparent;

font-style: normal;
font-weight: 500;
font-size: 100%;
line-height: 100%;
text-align: center;
}
          
.inputLoginLoginPage{
  position: absolute;
  width: 50%;
  height: 8%;
  left: 40%;
  top: 30%;
  background: #4651ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 2%;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
}

  
.inputPasswordLoginPage{
  position: absolute;
  width: 50%;
  height: 8%;
  left: 40%;
  top: 45%;
  background: #4651ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 2%;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
}

.messageLogin{
  position: absolute;
  width: 100%;
  height: 30%;
  left: 15%;
  top: 15%;
  
  background-color: transparent;
  color: red;

  font-style: normal;
  font-weight: 400;
  font-size: 120%;
  line-height: 100%;
  text-align: center;
  }