.BlueDiv::before,
.BlueDiv::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 60%;
  top: 50%;
  position: inherit;
  left: 20%;
  background-color: #fff;
}

.BlueDiv::before {
  transform: rotate(90deg);
}

.BlueDiv::after {
  transform: rotate(-90deg);
}

.BlueDiv::before::before,
.BlueDiv::before::after,
.BlueDiv::after::before,
.BlueDiv::after::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 60%;
  left: 20%;
  background-color: #fff;
}

.BlueDiv::before::before,
.BlueDiv::before::after {
  top: 20%;
}

.BlueDiv::after::before,
.BlueDiv::after::after {
  top: 70%;
}

.BlueDiv::before::before {
  transform: rotate(-45deg);
}

.BlueDiv::before::after {
  transform: rotate(45deg);
}

.BlueDiv::after::before {
  transform: rotate(45deg);
}

.BlueDiv::after::after {
  transform: rotate(-45deg);
}

.BlueDiv::before::before,
.BlueDiv::before::after,
.BlueDiv::after::before,
.BlueDiv::after::after {
  transition: all 0.3s ease-in-out;
}

.BlueDiv:hover::before::before,
.BlueDiv:hover::before::after,
.BlueDiv:hover::after::before,
.BlueDiv:hover::after::after {
  width: 80%;
}
.BlueDiv > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.BlueDiv > div > h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.BlueDiv > div > p {
  font-size: 16px;
}